* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
}


body {
  font-family: 'Gilroy', sans-serif;
  background-color: transparent;
  background-image: url("../images/background.png");
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: calc(100vh - 5vh);
  margin: 0 auto;
  position: relative;
}

header {
  background-color: transparent;
  padding: 1vh;
}

.logo {
  position: relative;
  top: calc(193 / 1080 * 100vh);
  left: calc(173 / 1920 * 100vw);
  width: calc(347 / 1920 * 100vw);
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
}


/* Меню */
nav {
  position: absolute;
  top: calc(215 / 1080 * 100vh);
  left: calc(794 / 1920 * 100vw);
  background-color: transparent;
  font-family: 'Gilroy', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: left;
}

nav ul li {
  margin: 0 calc(34 / 1920 * 100vw);
}

nav ul li a {
  text-decoration: none;
  font-size: calc(33 / 1920 * 100vw);
  color: #005EBE;
  font-weight: 550;
}

nav ul li a:hover {
  color: #033392;
}

/* Слоган */
.slogan {
  width: calc(780 / 1920 * 100vw);
  height: auto;
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: calc(96 / 1920 * 100vw);
  color: #005EBE;


  position: absolute;
  top: clamp(30vh, calc(507 / 1080 * 100vh), 50vh);
  left: calc(179 / 1920 * 100vw);
}

/* Прямоугольник "О нас" */
.rectangle_about {
  width: calc(939 / 1920 * 100vw);
  height: calc(598 / 1920 * 100vw);
  border-radius: calc(45 / 1920 * 100vw) 0 0 calc(45 / 1920 * 100vw);
  background-color: #005EBE;
  position: absolute;
  top: calc(368 / 1080 * 100vh);
  left: calc(981 / 1920 * 100vw);
}

.about {
  width: calc(748 / 1920 * 100vw);
  height: calc(424 / 1920 * 100vw);
  position: absolute;
  top: calc(87 / 1920 * 100vw);
  left: calc(96 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: calc(46 / 1920 * 100vw);
  color: white;
}

/* Новости */
.News {
  width: calc(1593 / 1920 * 100vw);
  height: calc(982 / 1080 * 100vh);
  position: absolute;
  top: calc(1168 / 1080 * 100vh);
  left: calc(179 / 1920 * 100vw);
  background-color: #005EBE;
  border-radius: calc(45 / 1920 * 100vw);
}

.News_block {
  width: calc(932 / 1920 * 100vw);
  height: calc(176 / 1080 * 100vh);
  position: absolute;
  top: calc(404 / 1080 * 100vh);
  left: calc(331 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 650;
  font-size: calc(24 / 1920 * 100vw);
  color: white;
}

/* Футер */
footer {
  background-color: #005EBE;
  color: #005EBE;
  text-align: center;
  padding: 1vh;
  position: fixed;
  width: 100%;
  bottom: 0;
}
