* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Для корректного изображения top-68*/


@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
}

/* Основные стили для body */
body {
  font-family: 'Gilroy', sans-serif;
  background-color: transparent;
  background-image: url("../images/background.png");
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  margin: 0 auto;
  position: relative;
}

/* Шапка */
header {
  position: relative;
  width: 100vw;
  height: calc(300 / 1920 * 100vw); /* Задаем высоту шапки */
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent; /* Прозрачный фон */
}

.logo {
  position: relative;
  width: calc(347 / 1920 * 100vw); /* Пропорциональная ширина логотипа */
  height: auto;
  margin-left: calc(173 / 1920 * 100vw); /* Пропорциональный отступ слева */
}

.logo img {
  width: 100%;
  height: auto;
}

/* Меню */
nav {
  position: relative;
  margin-left: calc(450 / 1920 * 100vw);
}

nav ul {
  list-style: none;
  display: flex;
  gap: calc(34 / 1920 * 100vw);
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  font-size: calc(33 / 1920 * 100vw);
  color: #005EBE;
  font-weight: 550;
}

nav ul li a:hover {
  color: #033392;
}

/* Слоган */
.slogan {
  width: calc(780 / 1920 * 100vw);
  height: auto;
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: calc(96 / 1920 * 100vw);
  color: #005EBE;

  position: absolute;
  top: calc(439 / 1920 * 100vw);
  left: calc(179 / 1920 * 100vw);
}

/* Прямоугольник "О нас" */
.rectangle_about {
  width: calc(939 / 1920 * 100vw);
  height: calc(598 / 1920 * 100vw);
  border-radius: calc(45 / 1920 * 100vw) 0 0 calc(45 / 1920 * 100vw);
  background-color: #005EBE;
  position: absolute;
  top: calc(300 / 1920 * 100vw);
  left: calc(981 / 1920 * 100vw);
}

.about {
  width: calc(748 / 1920 * 100vw);
  height: calc(424 / 1920 * 100vw);
  position: absolute;
  top: calc(87 / 1920 * 100vw);
  left: calc(96 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: calc(46 / 1920 * 100vw);
  color: white;
}

/* Новости */
.News {
  width: calc(1593 / 1920 * 100vw);
  height: calc(862 / 1920 * 100vw);
  position: absolute;
  top: calc(1100 / 1920 * 100vw);
  left: calc(179 / 1920 * 100vw);
  background-color: #005EBE;
  border-radius: calc(45 / 1920 * 100vw);
}

.News_block {
  width: calc(932 / 1920 * 100vw);
  height: calc(176 / 1920 * 100vw);
  position: absolute;
  top: calc(332 / 1920 * 100vw);
  left: calc(295 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 650;
  font-size: calc(264 / 1920 * 100vw);
  color: white;
}

.Photo_block {
  width: calc(1596 / 1920 * 100vw);
  height: calc(1171 / 1920 * 100vw);
  position: absolute;
  top: calc(2102 / 1920 * 100vw);
  left: calc(179 / 1920 * 100vw);
  background-color: transparent;
}

.PB1 {
  width: calc(485 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.PB2 {
  width: calc(780 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(505 / 1920 * 100vw);
}

.PB3 {
  width: calc(1030 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(546 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.PB4 {
  width: calc(545 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(584 / 1920 * 100vw);
  left: calc(1051 / 1920 * 100vw);
}

.PBRec1 {
  width: calc(404 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(363 / 1920 * 100vw);
  left: calc(40 / 1920 * 100vw);
}

.PBRec2 {
  width: calc(253 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(1343 / 1920 * 100vw);
}

.PBlogoD {
  width: calc(545 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(940 / 1920 * 100vw);
  left: calc(1051 / 1920 * 100vw);
}

.history_block {
  width: calc(1920 / 1920 * 100vw);
  height: calc(377 / 1920 * 100vw);
  position: absolute;
  top: calc(3364 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
  background-color: #EBEBEB;
}

.history {
  width: calc(1596 / 1920 * 100vw);
  height: calc(290 / 1920 * 100vw);
  position: absolute;
  top: calc(55 / 1920 * 100vw);
  left: calc(179 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 850;
  font-size: calc(46 / 1920 * 100vw);
  color: #005EBE;
}

.HistWOBullet {
  list-style-type: none;
}

/* Футер */
footer {
  background-color: #005EBE;
  color: #005EBE;
  text-align: center;
  padding: calc(1 / 1920 * 100vw);
  position: fixed;
  width: 100%;
  bottom: 0;
}
