* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Для корректного изображения top-68*/


@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
}

body {
  font-family: 'Gilroy', sans-serif;
  background-color: transparent;
  background-image: url("../images/background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Шапка */
header {
  position: relative;
  width: 100vw;
  height: calc(300 / 1920 * 100vw); /* Задаем высоту шапки */
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent; /* Прозрачный фон */
}

main {
  flex-grow: 1; /* Позволяем основному контенту занимать оставшуюся высоту страницы */
}

.logo {
  position: relative;
  width: calc(347 / 1920 * 100vw); /* Пропорциональная ширина логотипа */
  height: auto;
  margin-left: calc(173 / 1920 * 100vw); /* Пропорциональный отступ слева */
}

.logo img {
  width: 100%;
  height: auto;
}

/* Меню */
nav {
  position: relative;
  margin-left: calc(450 / 1920 * 100vw);
}

nav ul {
  list-style: none;
  display: flex;
  gap: calc(34 / 1920 * 100vw);
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  font-size: calc(33 / 1920 * 100vw);
  color: #005EBE;
  font-weight: 550;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #033392;
}

/* Слоган */
.slogan {
  width: calc(780 / 1920 * 100vw);
  height: auto;
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: calc(96 / 1920 * 100vw);
  color: #005EBE;

  position: absolute;
  top: calc(439 / 1920 * 100vw);
  left: calc(179 / 1920 * 100vw);
}

/* Прямоугольник "О нас" */
.rectangle_about {
  width: calc(939 / 1920 * 100vw);
  height: calc(598 / 1920 * 100vw);
  border-radius: calc(45 / 1920 * 100vw) 0 0 calc(45 / 1920 * 100vw);
  background-color: #005EBE;
  position: absolute;
  top: calc(300 / 1920 * 100vw);
  left: calc(981 / 1920 * 100vw);
}

.about {
  width: calc(748 / 1920 * 100vw);
  height: calc(424 / 1920 * 100vw);
  position: absolute;
  top: calc(87 / 1920 * 100vw);
  left: calc(96 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: calc(46 / 1920 * 100vw);
  color: white;
}

/* Новости */
.News {
  width: calc(1593 / 1920 * 100vw);
  height: calc(862 / 1920 * 100vw);
  position: absolute;
  top: calc(1100 / 1920 * 100vw);
  left: calc(179 / 1920 * 100vw);
  background-color: #005EBE;
  border-radius: calc(45 / 1920 * 100vw);
}

.News_block {
  width: calc(932 / 1920 * 100vw);
  height: calc(176 / 1920 * 100vw);
  position: absolute;
  top: calc(332 / 1920 * 100vw);
  left: calc(295 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 650;
  font-size: calc(264 / 1920 * 100vw);
  color: white;
}

.Photo_block {
  width: calc(1596 / 1920 * 100vw);
  height: calc(1171 / 1920 * 100vw);
  position: absolute;
  top: calc(2102 / 1920 * 100vw);
  left: calc(179 / 1920 * 100vw);
  background-color: transparent;
}

.PB1 {
  width: calc(485 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.PB2 {
  width: calc(780 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(505 / 1920 * 100vw);
}

.PB3 {
  width: calc(1030 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(546 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.PB4 {
  width: calc(545 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(584 / 1920 * 100vw);
  left: calc(1051 / 1920 * 100vw);
}

.PBRec1 {
  width: calc(404 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(363 / 1920 * 100vw);
  left: calc(40 / 1920 * 100vw);
}

.PBRec2 {
  width: calc(253 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(1343 / 1920 * 100vw);
}

.PBlogoD {
  width: calc(545 / 1920 * 100vw);
  height: auto;
  border-radius: calc(45 / 1920 * 100vw);
  position: absolute;
  top: calc(940 / 1920 * 100vw);
  left: calc(1051 / 1920 * 100vw);
}

.history_block {
  width: calc(1920 / 1920 * 100vw);
  height: calc(377 / 1920 * 100vw);
  position: absolute;
  top: calc(3364 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
  background-color: #EBEBEB;
}

.history {
  width: calc(1596 / 1920 * 100vw);
  height: calc(290 / 1920 * 100vw);
  position: absolute;
  top: calc(40 / 1920 * 100vw);
  left: calc(179 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 850;
  font-size: calc(46 / 1920 * 100vw);
  color: #005EBE;
}

.HistWOBullet {
  list-style-type: none;
}

.Programs {
  width: calc(1609 / 1920 * 100vw);
  height: calc(2491 / 1920 * 100vw);
  position: absolute;
  top: calc(3810 / 1920 * 100vw);
  left: calc(179 / 1920 * 100vw);
}

.AreasOfTraining_Rectangle {
  width: calc(979 / 1920 * 100vw);
  height: calc(152 / 1920 * 100vw);
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
  background-color: #005EBE;
  border-radius: calc(45 / 1920 * 100vw);
}

.AreasOfTrainig_Title {
  position: absolute;
  top: calc(25 / 1920 * 100vw);
  left: calc(45 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: calc(74 / 1920 * 100vw);
  color: white;
}

.Bachelor_Block {
  width: calc(1609 / 1920 * 100vw);
  height: calc(956 / 1920 * 100vw);
  position: absolute;
  top: calc(199 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.Speciality_Block {
  width: calc(1178 / 1920 * 100vw);
  height: calc(287 / 1920 * 100vw);
  position: absolute;
  top: calc(1205 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.Magistracy_Block {
  width: calc(1428 / 1920 * 100vw);
  height: calc(955 / 1920 * 100vw);
  position: absolute;
  top: calc(1539 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.Bachelor_Title_Block, .Speciality_Title_Block {
  width: calc(640 / 1920 * 100vw);
  height: calc(287 / 1920 * 100vw);
  background-color: #005EBE;
  border-radius: calc(45 / 1920 * 100vw);

}

.Magistracy_Title_Block {
  width: calc(679 / 1920 * 100vw);
  height: calc(287 / 1920 * 100vw);
  background-color: #005EBE;
  border-radius: calc(45 / 1920 * 100vw);

}

.Bachelor_Title_Block, .Magistracy_Title_Block {
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.Speciality_Title_Block {
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(529 / 1920 * 100vw);
}

.Bachelor_Title, .Speciality_Title {
  position: absolute;
  top: calc(88 / 1920 * 100vw);
  left: calc(52 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: calc(86 / 1920 * 100vw);
  color: white;
}

.Magistracy_Title {
  position: absolute;
  top: calc(88 / 1920 * 100vw);
  left: calc(45 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: calc(86 / 1920 * 100vw);
  color: white;
}

.Block_010302, .Block_020302, .Block_090303, .Block_020303,
.Block_100501, .Block_090403, .Block_020403, .Block_0104021 {
  height: calc(287 / 1920 * 100vw);
  background-color: #EBEBEB;
  border-radius: calc(45 / 1920 * 100vw);
}

.Block_010302 {
  width: calc(778 / 1920 * 100vw);
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(686 / 1920 * 100vw);
}

.Block_020302 {
  width: calc(982 / 1920 * 100vw);
  position: absolute;
  top: calc(334 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.Block_090303 {
  width: calc(452 / 1920 * 100vw);
  position: absolute;
  top: calc(334 / 1920 * 100vw);
  left: calc(1030 / 1920 * 100vw);
}

.Block_020303 {
  width: calc(1428 / 1920 * 100vw);
  position: absolute;
  top: calc(669 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.Block_100501 {
  width: calc(484 / 1920 * 100vw);
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.Block_090403 {
  width: calc(452 / 1920 * 100vw);
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(723 / 1920 * 100vw);
}

.Block_020403 {
  width: calc(1428 / 1920 * 100vw);
  position: absolute;
  top: calc(334 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.Block_0104021 {
  width: calc(776 / 1920 * 100vw);
  position: absolute;
  top: calc(668 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.WOB010302, .WOB020302, .WOB090303, .WOB020303,
.WOB100501, .WOB090403, .WOB020403, .WOB0104021 {
  list-style-type: none;
}

.WOB010302 li, .WOB020302 li, .WOB090303 li, .WOB020303 li,
.WOB100501 li, .WOB090403 li, .WOB020403 li, .WOB0104021 li {
  margin-bottom: calc(-16 / 1920 * 100vw);
}

.Number_010302, .Number_020302, .Number_090303, .Number_020303,
.Number_100501, .Number_090403, .Number_020403, .Number_0104021 {
  position: absolute;
  top: calc(41 / 1920 * 100vw);
  left: calc(43 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: calc(59 / 1920 * 100vw);
  color: #005EBE;
}

.Name_010302, .Name_020302, .Name_090303, .Name_020303,
.Name_100501, .Name_090403, .Name_020403, .Name_0104021 {
  position: absolute;
  top: calc(108 / 1920 * 100vw);
  left: calc(43 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 450;
  font-size: calc(59 / 1920 * 100vw);
  color: #005EBE;
}

.arrow010302, .arrow020302, .arrow090303, .arrow020303,
.arrow100501, .arrow090403, .arrow020403, .arrow0104021 {
  width: calc(48 / 1920 * 100vw);
  position: absolute;
  top: calc(48 / 1920 * 100vw);
  right: calc(43 / 1920 * 100vw);
}

.Footer_cont {
  height: calc(1259 / 1920 * 100vw);
  position: absolute;
  top: calc(6734 / 1920 * 100vw);
  width: 100vw;
  background-color: #005EBE;
}

/*шрифт 46 450*/

.Column1 {
  width: calc(498 / 1920 * 100vw);
  height: calc(302 / 1920 * 100vw);
  position: absolute;
  top: calc(140 / 1920 * 100vw);
  left: calc(179 / 1920 * 100vw);
}

.Column2 {
  width: calc(685 / 1920 * 100vw);
  height: calc(211 / 1920 * 100vw);
  position: absolute;
  top: calc(140 / 1920 * 100vw);
  left: calc(799 / 1920 * 100vw);
}

.Column3 {
  width: calc(395 / 1920 * 100vw);
  height: calc(311 / 1920 * 100vw);
  position: absolute;
  top: calc(520 / 1920 * 100vw);
  left: calc(179/ 1920 * 100vw);
}

.Column4 {
  width: calc(311 / 1920 * 100vw);
  height: calc(212 / 1920 * 100vw);
  position: absolute;
  top: calc(520 / 1920 * 100vw);
  left: calc(799 / 1920 * 100vw);
}
.Column5 {
  width: calc(350 / 1920 * 100vw);
  height: calc(205 / 1920 * 100vw);
  position: absolute;
  top: calc(527 / 1920 * 100vw);
  left: calc(1421 / 1920 * 100vw);
}

.Contacts {
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 350;
  font-size: calc(34 / 1920 * 100vw);
  color: white;
}

.AboutInstituteTitle, .DepartmentsTitle,
.ForStudentsTitle, .ForAbiturTitle {
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 450;
  font-size: calc(46 / 1920 * 100vw);
  color: white;
}

.AboutInstitute, .Departments,
.ForStudents, .ForAbitur {
  position: absolute;
  top: calc(76 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
  font-family: 'Gilroy', sans-serif;
  font-weight: 350;
  font-size: calc(34 / 1920 * 100vw);
  color: white;
}

.AboutInstituteUL, .DepartmentsUL,
.ForStudentsUL, .ForAbiturUL, .Contacts {
  list-style: none;
}

.AboutInstituteUL li, .DepartmentsUL li,
.ForStudentsUL li, .ForAbiturUL li, .Contacts li {
  margin-bottom: calc(10 / 1920 * 100vw);
}

.AboutInstituteUL a, .DepartmentsUL a,
.ForStudentsUL a, .ForAbiturUL a, .Contacts a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.AboutInstituteUL a:hover, .DepartmentsUL a:hover,
.ForStudentsUL a:hover, .ForAbiturUL a:hover, .Contacts a:hover {
  color: #c8c6c6;
}

.Logos {
  width: calc(1567 / 1920 * 100vw);
  height: calc(262 / 1920 * 100vw);
  position: absolute;
  top: calc(882 / 1920 * 100vw);
  left: calc(179 / 1920 * 100vw);
}

.KemSU {
  width: calc(327 / 1920 * 100vw);
  position: absolute;
  top: calc(35 / 1920 * 100vw);
  left: calc(0 / 1920 * 100vw);
}

.InstituteDigit {
  width: calc(567 / 1920 * 100vw);
  position: absolute;
  top: calc(0 / 1920 * 100vw);
  left: calc(554 / 1920 * 100vw);
}

.MinOfSciAndHiEdu {
  width: calc(219 / 1920 * 100vw);
  position: absolute;
  right: calc(0 / 1920 * 100vw);
}
